body {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif cursive;
	max-width: 1500px;
    max-height: 600px;
  }
  
  .bg {
	position: absolute;
	z-index: -1;
  }
  header{
      text-align: center;
      font-size: 20px;
      padding: 20px;
  }
  header h1{
      font-weight: bold;
      font-size: 50px;
      padding: 50px 0 50px 0;
  }
  .flex{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row-reverse;
  }
  .form-info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .form-info input{
      padding: 10px;
      margin: 10px;
      background: rgb(68, 207, 196);
      color: azure;
      width: 350px;
  }
  .form-message{
      width: 350px;
      height: 200px;
  }
  .info{
      font-size: large;
      text-align: left;
      line-height: 1.5;
  }
  .info h2{
      font-weight: bold;
  }
footer{
    background: rgb(61, 58, 58);
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 1500px;
}
    